h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: 8%;
    font-size: 30px;
}

td {
    text-align: center;
}

th {
    size: 32px;
}

body {
    background-image: url(../images/heart-background.JPG);
    display: grid;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;   /* Center align text */
    overflow-wrap: break-word;
}

.messageContainer {
    max-width: 80%;
}


.featurePicContainer {
    display: flex;
    justify-content: center;    
}

.featurePic {
    min-width: 300px;
    width: 20%;
    height: auto;
}

.thumbnail {
    width: 40%;
    height: auto;
    align-items: center;
}

.backButton {
    width: 4%;
    min-width: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px;
    
}

.nextButtonContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0; /* Optional: to add some padding */
}

.nextButton {
    width: 4%;
    min-width: 30px;
    margin: 10px;
    cursor: pointer;
    
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }