h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

td {
    text-align: center;
}

th {
    size: 32px;
}

body {
    background-image: url(../images/heart-background.JPG);
    display: grid;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;   /* Center align text */
    overflow-wrap: break-word;
}

.messageContainer {
    max-width: 80%;
}


.featurePicContainer {
    display: flex;
    justify-content: center;    
}

.featurePic {
    min-width: 300px;
    width: 20%;
    height: auto;
}

.thumbnail {
    width: 40%;
    height: auto;
    align-items: center;
}

.backButton {
    width: 4%;
    min-width: 30px;

}


.nextButton {
    width: 4%;
    min-width: 30px;
    margin: 5px;

}

.homeButton {
    width: 3%;
    min-width: 30px;
    margin: 5px;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    width: 100%;
    border-collapse: collapse;
  }
  
  .navbar td {
    padding: 10px;
  }
  
  .left {
    justify-content: start;
    width: 6%;
   
  }
  
  .center {
    justify-content: center;
    width: 6%;
    
  }
  
  .right {
    justify-content: right;
    width: 6%;
    
  }
  

