h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: 10%;
}

td {
    text-align: center;
}

th {
    size: 32px;
}

body {
    background-image: url(images/heart-background.JPG);
}

.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;   /* Center align text */
    overflow-wrap: break-word;
}


.featurePicContainer {
    display: flex;
    justify-content: center;    
}

.featurePic {
    min-width: 300px;
    width: 20%;
    height: auto;
}

.thumbnail {
    width: 40%;
    height: auto;
    align-items: center;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }